-i https://repository.engineering.redhat.com/nexus/repository/ccx/simple

app-common-python==0.2.7
ccx-messaging @ git+https://github.com/RedHatInsights/insights-ccx-messaging@v4.1.4
insights-core-messaging @ git+https://github.com/RedHatInsights/insights-core-messaging@1.2.11
ccx-rules-ocp==2024.11.06
setuptools>=70.0.0